body {
    margin: 0;
    background:white;
    text-align: center;
}

.navbar {
    position: fixed;
    margin: auto;
    padding: 30px 0;
    background: url("/img/original.jpg") center;
}

.aboutme {
    text-align: center;
    padding-left: 30px;
    padding-right: 30px;
}
