body {
    margin: 0;
    background:wheat;
    text-align: center;
    padding-left: 100px;
    padding-right: 100px;
    font-family:'Lucida Sans';
}

.banner {
    position: fixed;
    padding: 0 100px;
}

.banner > banner-img {
   
    position: fixed;
    padding: 0 100px;
}
.aboutme {
    text-align: center;
    padding-left: 70px;
    padding-right: 70px;
}
